// * Helper Class of Index.Html Styling * //
@import "../variables";
.hero{
    .hero-heading{
        font-size: $heading-size;
        font-family: $font-two;

        @include breakpoint-down(medium){
            font-size: $mobile-heading-size;   
        }
    }
    .hero-description{
        margin-top: 2.5rem;
        font-size: $paragraph-text-size;
        
        @include breakpoint-down(medium){
            font-size: $mobile-pragraph-text-size;   
        }
    }
    .hero-button{
        margin-top: 3rem;
        padding: 0.5rem;
        font-size: $button-text-size;
        font-weight: $semibold;
        display: inline-flex;
        > a,a:visited, a:link{
            color: white;
            text-decoration: none;
        }

        &:hover{
            border: white solid 1px;
        }

        .button-text{
            vertical-align: middle;
        }

        .button-icon{
            vertical-align: middle;
        }
    }
}
.content-container{
    display: flex;
    flex-direction: column;

    @include breakpoint-down(small){

    }
    @include breakpoint-up(medium){
        flex-direction: row;
        justify-content: space-between;
    }
}
.content-text{
    width: 40%;
    @include breakpoint-down(medium){
        width: 100%;       
    }
}
.content-left{
    position: relative;
    .content-image{
        width: 760px;
        height: 550px;
    
        @include breakpoint-down(small){
            width: 350px;
            height: 264px; 
            margin-top: 2rem;
        }
        @include breakpoint-up(medium){
            width: 460px;
            height: 320px;
        }
        @include breakpoint-up(large){
            width: 560px;
            height: 384px;
        }
        @include breakpoint-up(xlarge){
            width: 760px;
            height: 550px;
        }
    }
    
    .info{
        animation: move 1s forwards alternate;
        width: 410px;
        height: 189px;
        background-color: $primary-background;
        top: 30rem;
        left: 30%;
        padding: 1.5rem;
        position: absolute;

        @include breakpoint-down(medium){
            top: 13rem;
            left: 1.795rem;
            width: 300px;
            height: 138px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        @include breakpoint-down(small){
            top: 13rem;
            left: .675rem;
            width: 300px;
            height: 138px;
            padding: .75rem;
            padding-bottom: 1.5rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        .person{
            display: flex;
            align-items: center;
            .person-profile{
                img {
                    height: 3.125rem;
                    width: 3.125rem;
                    border-radius: 50%;
    
                    @include breakpoint-down(medium){
                        height: 2.3125rem;
                        width: 2.3125rem;
                    }
                }
            }
    
            .person-info{
                margin-left: 1rem;
                .person-name{
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 0.5rem;
    
                    @include breakpoint-down(small){
                        font-size: 12px;
                    }
                }
                .person-spec{
                    font-weight: 500;
                    font-size: 12px;
                    color: $secondary-font;
                
                    @include breakpoint-down(small){
                        font-size: 10px;
                    }
                }
            }
        }
        .designed-by{
            margin-top: 1rem;
            a {
                font-family: $font-two;
                font-weight: 700;
                font-size: 24px;
                text-decoration: none;
                color: white;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}














.animated-text{
    animation: type 3s steps(31);
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Montserrat';
    border-right: 2px solid white;
    width: 29ch;
    font-size: 1rem;
}

.popup {
    position: fixed;
    padding: 2rem;
    max-width: 270px;
    top: 50%;
    left: 50%;
    color: #000;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,1);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
 }
 .popup:target {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
 }
 .popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .3s;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 700;
 }
 .popup .close:hover {
    color: #f00;
 }
 .close-popup {
    background-color: rgba(0,0,0,.7);
    cursor: default;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility 0s linear .5s;
 }
 .popup:target + .close-popup {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
 }