@import "../variables";
.hero{
    .hero-heading{
        font-size: $heading-size;
        font-family: $font-two;
    }
    .hero-description{
        margin-top: 2.5rem;
        font-size: $paragraph-text-size;
    }
    .hero-button{
        margin-top: 3rem;
        padding: 0.5rem;
        font-size: $button-text-size;
        font-weight: $semibold;
        display: inline-flex;
        > a,a:visited, a:link{
            color: white;
            text-decoration: none;
        }

        &:hover{
            border: white solid 1px;
        }

        .button-text{
            vertical-align: middle;
        }

        .button-icon{
            vertical-align: middle;
        }
    }
}