@import "./variables";
@import "./mixins";

// * Global Stylings * //
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 100%;
    box-sizing: border-box;
}

// * Global Body Styling * //
body{
    background: #181719;
    color: white;
    font-family: $font-one;
    font-weight: $regular;

    &.noscroll{
        overflow: hidden;
        max-height: 40em;
    }
}

// * Flexbox Helper Class * //
.flex{
    display: flex;

    &-spacing {
        justify-content: space-between;
    }

    &-center {
        justify-content: center;
    }

    &-align {
        align-items: center;
    }
}

// * Spacings * //
.container {
    padding-top: 8rem;
    padding-left: 7rem;
    padding-right: 7rem;
}


// * Visibilities Helper Class * //
.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}