// ****************
// * Fonts Import *
// ****************
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
$font-one: "Montserrat";
$font-two: "Lora";


// *******************
// * Color Variables *
// *******************
$primary-background: #181719;
$primary-font: white;
$secondary-font: #A9A9A9;


// **************
// * Font Sizes *
// **************
$heading-size: 48px;
$paragraph-text-size: 24px;
$button-text-size: 18px;
$logo-text-size: 14px;
$subtext-profile-size: 12px;


// ******************
// * Font Typefaces *
// ******************
$regular: 300;
$semibold: 600;
$bold: 700;