// * Helper Class For Navigation Bar + Responsive Design * //
@import "../variables";
.header{
    > a,a:visited, a:hover, a:link{
        cursor: pointer;
        text-decoration: none;
        color: white;
    }

    .nav{
        position: relative;
        max-height: 11rem;
        background-color: $primary-background;
        z-index: 100;
    }

    // * For Mobile Nav Bar * //
    .overlay{
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: $primary-background;
    }

    &-container{
        padding: 2.75rem;

        @include breakpoint-down(medium){
            padding: 1rem;
        }
    }

    &-logo{
        display: inline-flex;
        margin-left: 4.75rem;
        border: white solid 1px;
        z-index: 1;
        > span {
            font-family: $font-two;
            font-size: $logo-text-size;
            padding: 0.5rem;
        }

        @include breakpoint-down(medium){
            margin: 0;
        }
    }

    &-toggle{
        > span{
            display: block;
            width: 28.5px;
            height: 4px;
            background-color: white;
            transition: all 0.3s ease-in-out;
            transform-origin: 2px 2px;

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &-links{
        .nav-element{
            position: relative;
            font-size: $button-text-size;
            color: white;
            transition: color 0.2s ease;
            margin-right: 5.375rem;

            &::before{
                content: "";
                position: absolute;
                display: block;
                height: 5px;
                width: 5px;
                left: 50%;
                right: 50%;
                border-radius: 50%;
                bottom: -30px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover{
                color: $special-color;
                &::before{
                    opacity: 1;
                }
            }
        }
    }

    &.open{
        .header-toggle{
            > a,a:visited, a:link{
                text-decoration: none;
            }
            > span:first-child{
                transform: rotate(45deg);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    &-mobile-menu{
        position: fixed;
        display: inline;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .nav-mobile-element{
            display: block;
            padding: 2rem;
            text-align: center;
            font-size: $button-text-size;
            color: white;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // For current page highlighting in the Navbar
    .active {
        font-weight: 600;
    }
}